/* font-family: 'Archivo Black', sans-serif;
font-family: 'Roboto', sans-serif; */

.header {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #FFFFFF;
  border-bottom-color: #FFFFFF;
  border-bottom: 1px solid;
}

#mainImg  {
  height: 100vh;
  width: 100vw;
  z-index: 0;
  /* position: fixed; */
}

h1  {
  font-weight: 500;
  position: absolute;
  /* color: red; */
  color: #FFFFFF;
  z-index: 2;
  left: 4em;
  top: .5em;
  font-size: 16rem;
}



.grid { 
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 10px;
  align-items: start;
  justify-items: center;
  margin: auto;
  width: 50%;
  height: auto; */

  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  }


@media (min-width: 600px) {
  .grid { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
  .cards { grid-template-columns: repeat(3, 1fr); }
}


  .photoName  {
    color: #FF0075;
  }